# ALS Project

## Adverse Events

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

##

In [3]:
ae = pd.read_csv("data/AdverseEvents.csv")

In [6]:
ae.head()

,subject_id,Lowest_Level_Term,Preferred_Term,High_Level_Term,High_Level_Group_Term,System_Organ_Class,SOC_Abbreviation,SOC_Code,Severity,Outcome,Start_Date_Delta,End_Date_Delta
0,89,Stomach burning sensation of,Dyspepsia,Dyspeptic signs and symptoms,Gastrointestinal signs and symptoms,Gastrointestinal disorders,Gastr,10017947,No,Recovery,0.0,5.0
1,89,Respiratory disorder,Respiratory disorder,Respiratory tract disorders NEC,Respiratory disorders NEC,"Respiratory, thoracic and mediastinal disorders",Resp,10038738,No,In progress,145.0,NaN
2,89,Pneumopathy,Lung disorder,Respiratory tract disorders NEC,Respiratory disorders NEC,"Respiratory, thoracic and mediastinal disorders",Resp,10038738,Yes,Recovery with sequelae,158.0,188.0
3,89,Tracheostomy,Tracheostomy,Tracheal therapeutic procedures,Respiratory tract therapeutic procedures,Surgical and medical procedures,Surg,10042613,Yes,In progress,173.0,NaN
4,89,Death,Death,Death and sudden death,Fatal outcomes,General disorders and administration site cond...,Genrl,10018065,Yes,NaN,218.0,NaN

In [10]:
# limit to only max dates
ae_max_date = ae.groupby('subject_id').max()
ae_max_date.reset_index(inplace=True)
ae_max_date['max_ae_start_date_study_day'] = ae_max_date['Start_Date_Delta']
ae_max_date['max_ae_end_date_study_day'] = ae_max_date['End_Date_Delta']
ae_max_date=ae_max_date[['subject_id', 'max_ae_start_date_study_day', 'max_ae_end_date_study_day']]
ae_max_date.head()

   subject_id  max_ae_start_date_study_day  max_ae_end_date_study_day
0          89                        218.0                      218.0
1         329                        287.0                      287.0
2         406                        213.0                      288.0
3         411                        141.0                        NaN
4         533                        316.0                        NaN

### Add Onset data

In [4]:
# add the onset data
onset = pd.read_csv("clean_data/onset_date.csv")

In [7]:
onset.drop(['delta_onset_diag', 'Diagnosis_Delta'], axis=1, inplace=True)

In [30]:
onset.head()

   subject_id  Onset_Delta
0         329      -1706.0
1         348       -501.0
2         533      -1023.0
3         586       -715.0
4         649       -341.0

In [31]:
ae_max = ae_max_date.merge(onset, how='left', on='subject_id')

In [32]:
ae_max.head()

,subject_id,max_ae_start_date_study_day,max_ae_end_date_study_day,Onset_Delta
0,89,218.0,218.0,NaN
1,329,287.0,287.0,-1706.0
2,406,213.0,288.0,NaN
3,411,141.0,NaN,NaN
4,533,316.0,NaN,-1023.0

In [33]:
ae_max['max_ae_onset_start'] = np.abs(ae_max['Onset_Delta']) + ae_max['max_ae_start_date_study_day']
ae_max['max_ae_onset_end'] = np.abs(ae_max['Onset_Delta']) + ae_max['max_ae_end_date_study_day']
ae_max.drop(['max_ae_start_date_study_day','max_ae_end_date_study_day'], axis=1, inplace=True)
ae_max['max_ae_date_onset'] = ae_max[['max_ae_onset_start','max_ae_onset_end']].max(axis=1)
ae_max.drop(['max_ae_onset_start','max_ae_onset_end', 'Onset_Delta'], axis=1, inplace=True)

In [34]:
ae_max.head()

   subject_id  max_ae_date_onset
0          89                NaN
1         329             1993.0
2         406                NaN
3         411                NaN
4         533             1339.0

In [35]:
# save to csv
filename = 'clean_data/max_ae_date.csv'
ae_max_date.to_csv(filename, index=False)